body {
    display: flex;
    justify-content: center;
    background-color: #eee;
    font-family: sans-serif;
}

.container {
    display: flex;
    background: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.controls {
    width: 250px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.controls label, .controls textarea, .controls select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
    font-size: 1.5em; /* Ukuran input diperbesar */
    font-family: 'Noto Sans Javanese', serif;
}

.display {
    padding-left: 20px;
}

svg {
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

.javanese-text {
    font-family: 'Noto Sans Javanese', serif;
    font-size: 40px; /* Ukuran teks dikaligrafi */
    font-weight: bold;
}
